*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body{
    font-family: Arial;
}

.calc__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.calc__item{
    
}

.collapse__box{
    position: absolute;
    top: 5px;
    left: 5px;
}

.collapse__btn{
    width: 58px;
    height: 50px;
    background-color: #BBC6B5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.collapse__line{
    width: 33px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    /* box-shadow: 0 3px 15px #000; */
}



.connection__box{
    position: absolute;
    left: 0;
    bottom:0;
    width: 223px;
    height: 68px;
    background-color: #BBC6B5;
    display: flex;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px;
}

.connection__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 50px;
    background-color: #EDEDED;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.connection__item:not(:first-child){
    margin-left: 13px;
}

.calc__boxes{
    
}

.calc__box{
    background-color: #C5CCC1;
}
.calc__head{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 364px;
    height: 67px;
    border:1px solid #777777;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}
.calc__text{
    color: #444444;
    font-size: 20px;
}

.calc__head-item input{
    font-size: 20px;
    width: 110px;
    height: 41px;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    text-align: center;
    margin-left: 33px;
}
.calc__head-item input:focus-visible{
    outline: none;
}
.calc__main{
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border: 1px solid #777777;
}
.globe__calc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 10px 7px 0;
}
.globe__icon{
    width: 42px;
    height: 42px;
    /* margin-right: 13px; */
}
.select__calc{
    margin-left: 13px;
    position: relative;
}
#calc-select{
    padding: 16px 39px 16px 17px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    font-size: 20px;
    border:none;
    font-family: Arial;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
#calc-select:focus-visible{
    outline: none;
}
.select__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    background-color: #A9A9A9;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.calc__main--box{
    display: flex;
}
.calc__block{
    text-align: center;
    font-size: 20px;
    /* position: relative; */
}
.calc__block-title{
    margin-left: 35px;
    color: #444444;
}
.calc__block-input input{
    padding: 12px 17px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border: none;
}
.calc__block-input input:focus-visible{
    outline: none;
}
.calc__block-input:not(:last-child){
    margin-bottom: 5px; 
}
.m_btn__style{
    width: 58px;
    height: 60px;
    background-color: #C9F1FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #777777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}