*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body{
    font-family: Arial;
}

.calc__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.calc__item{
    
}

.collapse__box{
    position: absolute;
    top: 5px;
    left: 5px;
}

.collapse__btn{
    width: 58px;
    height: 50px;
    background-color: #BBC6B5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.collapse__line{
    width: 33px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    /* box-shadow: 0 3px 15px #000; */
}



.connection__box{
    position: absolute;
    left: 0;
    bottom:0;
    width: 223px;
    height: 68px;
    background-color: #BBC6B5;
    display: flex;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px;
}

.connection__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 50px;
    background-color: #EDEDED;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.connection__item:not(:first-child){
    margin-left: 13px;
}

.calc__boxes{
    
}

.calc__box{
    background-color: #C5CCC1;
}
.calc__head{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 67px;
    border:1px solid #777777;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}
.calc__text{
    color: #444444;
    font-size: 20px;
}

.calc__head-item input{
    font-size: 20px;
    width: 110px;
    height: 41px;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    text-align: center;
    margin-left: 33px;
    color: rgba(0, 0, 0,0.8);
}
.calc__head-item input:focus-visible{
    outline: none;
}
.calc__main{
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    border: 1px solid #777777;
}
.globe__calc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 10px 7px 0;
}
.globe__icon{
    width: 42px;
    height: 42px;
    /* margin-right: 13px; */
}
.select__calc{
    margin-left: 13px;
    position: relative;
}
#calc-select{
    padding: 16px 39px 16px 17px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    font-size: 20px;
    border:none;
    font-family: Arial;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    color: rgba(0, 0, 0,0.8);
}
#calc-select:focus-visible{
    outline: none;
}
.select__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    background-color: #A9A9A9;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
#calc__main--box-first{
    margin-top: 13px;
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.calc__main--box{
    display: flex;
}
#calc__main--box-second{
    position: relative;
    margin-top: 22px;
}
#calc__main--box-first .arrow__blocks{
    /* margin-top: 10px; */
    position: absolute;
    left: 0;
    top: 10px;
}
#calc__main--box-second .arrow__blocks{
    position: absolute;
    left: 0;
    top: 10px;
}

.calc__block{
    margin: 0 74px 0 68px;
    text-align: center;
    font-size: 20px;
    /* position: relative; */
}
.calc__block-title{
    margin-left: 35px;
    color: #444444;
}
.calc__block-input input{
    width: 177px;
    height: 40px;
    font-size: 20px;
    padding: 12px 17px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border: none;
    color: rgba(0, 0, 0,0.8);
    text-align: center;
}
.calc__block-input input:focus-visible{
    outline: none;
}
.calc__block-input:not(:last-child){
    margin-bottom: 5px; 
}
#calc__main--box-first .m_btn__group{
    /* margin-right: 10px;
    margin-top: 28px; */
    position: absolute;
    top: 28px;
    right: 10px;
}
#calc__main--box-second .m_btn__group{
    position: absolute;
    top: 28px;
    right: 10px;
}
.m_btn__style{
    width: 58px;
    height: 60px;
    background-color: #C9F1FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #777777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.m_one__btn{
    margin-bottom: 20px;
}
.m_three__btn{
    transform: translateY(26px);
    -webkit-transform: translateY(26px);
    -moz-transform: translateY(26px);
    -ms-transform: translateY(26px);
    -o-transform: translateY(26px);
}
.calc__main--size-container{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-right: 10px;
}
.ruler_btn,.size__compilation{
    width: 58px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border: 1px solid #777777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.size__input--box{
    margin: 0 17px 0px 22px;
}
.size__input{
    width: 110px;
    height: 41px;
    background-color: #EDEDED;
    text-align: center;
    padding: 11px 0;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 4px;
}
.size__input:focus-visible{
    outline: none;
}
.calc__section{
    border: 1px solid #777777;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.section__text{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.section__text p{
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #444444;
}
.section__text h1{
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.011em;
    text-align: left;
    margin-left: 29px;
    margin-right: 22px;
}
.calc__foot{
    display: flex;
}
.calc__foot--first-column{
    width: 75px;
    border: 1px solid #777777;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-right: 0;
}
.equal_to-btn{
    margin-top: 4px;
    width: 66px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2C9FB;
    border: 2px solid #555555;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 8px 0;
}
.plus__btn{
    margin-bottom: 10px;
}
.plus__btn,.minus__btn{
    width: 59px;
    height: 80px;
    background-color: #C9F1FD;
    border:1px solid #777777;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.calc__foot--second-column{
    border:1px solid #777777;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    color: rgba(0, 0, 0, 0.8);
    border-left: 0;
    padding: 4px 10px 7px 7px;
}
.calc__foot--block{
    display: flex;
}
.calc__number_group{
    display: flex;
    flex-direction: column;
}
.calc__number_btn{
    width: 58px;
    height: 50px;
    background-color: #EDEDED;
    border:1px solid #777777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.calc__number_btn:not(:last-child){
    margin-bottom: 10px;
}
.calc__foot--second-column .calc__number_group:not(:last-child){
    margin-right: 11px;
}
.calc__other_btn-group{

}
.calc__other_btn{
    font-weight: bold;
    font-size: 20px;
    width: 58px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #777777;
    background-color: #FFECD7;
    color: rgba(0, 0, 0, 0.8);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.calc__other_btn-group .calc__other_btn:last-child{
    background-color: #FEFCE0;
    margin-top: 11px;
}
.calc__last_btn--group{
    margin-top: 10px;
    display: flex;
}
.calc__last_btn--group button:not(:last-child){
    margin-right: 10px;
}
.calc__last_btn--group button:nth-child(2){
    margin-right: 11px;
}
.calc__last_btn{
    width: 127px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #CBE8BA;
    border:1px solid #777777;
    color: rgba(0, 0, 0, 0.8);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
button,.arrow__blocks img,.m_btn__style,.ruler_btn, .size__compilation,.connection__item,.collapse__btn,.btn{
    cursor: pointer;
}
.add_calc--box{
    transform: translateX(100%);
    opacity: 0;
    z-index: -3;
    transition: all 0.25s ease;
    border:1px solid #777777;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    background-color: #C5CCC1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
.select_input__group{
    margin-top: 21px;
}
.select_input__box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.select--box{
    margin-left: 27px;
    position: relative;
}
.select_input__group .select_input__box:not(:last-child){
    margin-bottom: 7px;
}
.select_input__box p{
    font-size: 20px;
    color: #444444;
}
#select-item{
    padding: 10px 34px 10px 17px;
    background-color: #EDEDED;
    appearance: none;
    width: 154px;
    height: 40px;
    font-size: 20px;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    color: rgba(0, 0, 0, 0.8);
    /*text-align: center;
     */:;
}
#select-item:focus-visible{
    outline: none;
}
#select-item--btn{
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.select-item--btn{
    position: absolute;
    top: 0;
    right: 0;
    border:none;
    width: 24px;
    height: 100%;
    background-color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.volume__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 9px 8px 7px;
}
.volume__title{
    margin-right: 24px;
    font-family: Arial;
    font-size: 20px;
    color: #444444;
}
.volume__item span{
    font-size: 22px;
}
.add_calc--btn_group{
    display: flex;
    justify-content: space-between;
}
.left_btn__group{
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2C9FB;
    border: 2px solid #555555;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: 500;
}
.right_btn__group{
    background-color: #CBE8BA;
    border:1px solid #A2BA95;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    width: 221px;
    height: 45px;
    font-weight: 500;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    margin-right: 9px;
}
.add_calc-main_section{
    margin: 8px 8px 13px 8px;
}
.main__first-column{
    margin-left: 8px;
    text-align: right;
}
.main_section__box{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.main_section__box:not(:last-child){
    margin-bottom: 5px;
}
.paragraf_box{
    width: 190px;
    text-align: right;
}
.main_section__box p{
    color: #444444;
    font-weight: 400;
    font-size: 20px;
}
.input__box{
    width: 110px;
    text-align: left;
}
.main_section__box input{
    padding: 10px 23px;
    width: 110px;
    height: 40px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    background-color: #EDEDED;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border:none;
}
.main_section__box .main__second-column_input{
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
input:focus-visible,select:focus-visible{
    outline: none;
}
.select_box--container{
    text-align: left;
}
.select_box--container select{
    background-color: #EDEDED;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    border:none;
    appearance: none;
    padding: 11px 18px 11px 22px;
}
.select-one--container{
    width: 80px;
    height: 40px;
}
#select--one{
    width: 100%;
    height: 100%;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
}
.select-two--container{
    width: 100px;
    height: 40px;
}
#select--two{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.select_box--container{
    position: relative;
}
.select_box--container .select-item--btn{
    height: 100%;
    top: 0;
    right: 0;
}
.add_calc--other_btns{
    text-align: right;
    margin-right: 24px;
    margin-top: 8px;
}
.add_calc--other_btns button{
    padding: 15px 20px;
    border:1px solid #777777;
    background-color: #EDEDED;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.add_calc--box .calc__section{
    border:none;
    margin-top: 14px;
}
.show{
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    opacity: 1;
    z-index: 0;
}